<h1>Add A Topic or Area of Policy</h1>
<form action ="/topics" method="post">
<div> 
    <label for="Topic">Topic Name:</label><br>
    <input type="text" id="name" name="name"><br>
</div>
<br><br>
  <input type="submit" value="Add a new Topic!">
</form>